body{
    height: 100vh;
    overflow: hidden;
}
.layout-page-container{
    display: flex;
    flex-grow: 1;
}
.layout-main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
// .player-container{
//     width: ;
// }