.management-side-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    width: 66px;
    background-color: #292f4c;
    .side-bar-navigation-container-top, .side-bar-navigation-container-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 8px;
            margin-bottom: 8px;
            &:hover {
                color: #ffff;
                background-color: #111518;
            }
            &.active {
                color: #fff;
            }
        }
        .logo {
            height: 40px;
            width: 40px;
            margin-top: 8px;
            margin-bottom: 4px;
        }
        span {
            height: 36px;
            width: 36px;
        }
    }
}